# Entornos virtuales (MUY IMPORTANTE)
.venv/
venv/
ENV/
lib/
bin/
include/
scripts/
pyvenv.cfg

# Python (Archivos temporales)
__pycache__/
*.py[cod]
*.class
*.so

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code y Editores
.vscode/
.idea/
*.swp

# Archivos de sistema y logs
.DS_Store
*.log
